* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #0f172a;
    color: white;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-card {
    background: #1e293b;
    padding: 50px;
    border-radius: 18px;
    text-align: center;
    width: 550px;
    box-shadow: 0 15px 40px rgba(0,0,0,.35);
}

.error-code {
    font-size: 90px;
    font-weight: bold;
    color: #ef4444;
    margin-bottom: 15px;
}

.error-card h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.error-message {
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 35px;
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 600;
    transition: .25s;
}

.btn:hover {
    background: #1d4ed8;
}

.secondary {
    background: #374151;
}

.secondary:hover {
    background: #4b5563;
}