* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #0f172a;
    color: white;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    background: #111827;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    align-items: center;

    list-style: none;
    gap: 25px;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;

    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
}

.nav-links a:hover {
    color: #f59e0b;
}


/* LOGOUT BUTTON */
.nav-links form {
    display: flex;
    align-items: center;
    margin: 0;
}

.logout-btn {
    all: unset;

    color: white;
    cursor: pointer;

    font-size: 16px;
    font-family: "Segoe UI", sans-serif;

    display: flex;
    align-items: center;
}

.logout-btn:hover {
    color: #f59e0b;
}


/* WELCOME SECTION */
.welcome {
    text-align: center;
    padding: 80px 20px;
}

.welcome h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 1.2rem;
    color: #cbd5e1;
}


/* DASHBOARD */
.dashboard {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    padding: 50px;
}


/* CARDS */
.card {
    background: #1e293b;

    width: 300px;

    padding: 30px;

    border-radius: 12px;

    text-align: center;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 20px;
    color: #cbd5e1;
}


/* BUTTONS */
.btn {
    display: inline-block;

    padding: 12px 24px;

    background: #f59e0b;
    color: white;

    text-decoration: none;

    border-radius: 8px;

    transition: 0.2s;
}

.btn:hover {
    background: #d97706;
}


/* ADMIN PANEL */
.admin-panel {
    border: 1px solid #f59e0b;
}

.manage-btn {
    margin-left: 10px;
}