body{
    background:#0f172a;
    color:white;
    font-family:"Segoe UI",sans-serif;
}

.container{
    width:500px;
    margin:50px auto;
    padding:30px;
    background:#1e293b;
    border-radius:12px;
}

h1{
    margin-bottom:20px;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
