* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111827;
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.navbar {
    background-color: #1f2937;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f59e0b;
}

.page-header {
    text-align: center;
    padding: 40px 20px;
}

.page-header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.page-header p {
    color: #d1d5db;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px 50px;
}

.movie-card {
    background-color: #1f2937;

    border-radius: 15px;
    overflow: hidden;

    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.poster {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.movie-info {
    padding: 20px;
}

.movie-info h2 {
    margin-bottom: 10px;
}

.meta {
    color: #9ca3af;
    margin-bottom: 15px;
}

.description {
    color: #d1d5db;
    margin-bottom: 20px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    text-decoration: none;

    padding: 10px 16px;
    border-radius: 8px;

    background-color: #f59e0b;
    color: white;

    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #d97706;
}

.danger {
    background-color: #dc2626;
}

.danger:hover {
    background-color: #b91c1c;
}

.empty-watchlist {
    text-align: center;
    margin-top: 80px;
}

.empty-watchlist h2 {
    margin-bottom: 20px;
}
.review-box {
    margin-top: 15px;
    padding: 15px;
    background-color: #111827;
    border: 1px solid #374151;
    border-radius: 10px;
}

.review-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-box input[type="number"],
.review-box input[type="text"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #374151;
    background-color: #1f2937;
    color: white;
    outline: none;
}

.review-box input:focus {
    border-color: #f59e0b;
}

.review-box button {
    align-self: flex-start;
}

.review-box::before {
    content: "Leave a Review";
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f59e0b;
}